@import url(https://use.typekit.net/jti7drn.css);

.trannsition{
  transition: all .3s ease-in-out;
}

.chat-sender-message-block {
  overflow: hidden;
  background: #27be67;
  border-radius: 30px 30px 0px 30px;
  padding: 10px 14px;
  gap: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  max-width: 50% !important;
  position: relative;
  text-align: left;
}

.chat-receiver-message-block {
  position: relative;
  border-radius: 30px 30px 0px 30px;
  padding: 10px 14px;
  gap: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  // float: right !important;
  max-width: 50% !important;
  background-color: #2f3336 !important;
  &.no-left-rad{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.room-container {
  border-bottom: 1px solid #292929;
  cursor: pointer;
  @extend .trannsition;
    &:hover{
      background: rgba(39, 190, 103, 0.2) !important;
  @extend .trannsition;

  }
  &.current {
    background: rgba(39, 190, 103, 0.2) !important;
    border-right: 2px solid #27BE67 !important;
  }
}

.chat-sidebar-container {
  border: 1px solid #292929 !important;
  height: 100vh !important;
  border-bottom: 0 !important;
}

.chat-playground-header {
  border-bottom: 1px solid #292929;
  background-color: #000;
  z-index: 4;
  position: fixed !important;
  max-width: 47.7% !important;
  top: 0 !important;
}

div {
  font-family: open-sans, sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.room-last-message::first-letter {
  text-transform: uppercase;
}

.chat-playground-footer {
  border-bottom: 1px solid #292929;
  background-color: #000;
  position: fixed !important;
  bottom: 0 !important;
  border-top: 1px solid #292929;
  max-width: 47.7% !important;
}

.input {
  outline: none;
  border: none !important;
  background: #202327;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #929292;
}

.font18 {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #d9d9d9;
}

.font14 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #6e767d;
}

.sidebar-container {
  // max-width: 40% !important;
  a {
    text-decoration: none;
    &:hover{
      background: rgba(39, 190, 103, 0.2) !important;
    }
    div {
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      color: #d9d9d9;
      color: #27be67 !important;
      svg {
        width: 20px;
        height: auto;
        fill: #27be67;
      }
    }
  }
}
